<ion-header>
  <ion-toolbar>
      <ion-title>Eventos</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="logout()" color="black">
          <ion-icon name="exit-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <app-search-bar [(searchTerm)]="searchTerm" (searchTermChange)="onSearchTermChange($event)"></app-search-bar>
  </ion-toolbar>
 </ion-header>
 
 <ion-content>
  <app-show-event [lista_eventos]="lista_eventos" [eventosLoaded]="eventosLoaded" (eventosLoadedChange)="onEventosLoadedChange($event)"></app-show-event>


 
  <p *ngIf="!eventosLoaded && searchTerm.length > 0">Nenhum evento encontrado para a pesquisa "{{searchTerm}}".</p>
  <p *ngIf="!eventosLoaded && searchTerm.length === 0">Carregando eventos...</p>
 </ion-content>
 
 <ion-footer>
  <div class="btn-wrapper">
      <ion-button (click)="irParaCadastrar()">
        <ion-icon name="person-add-outline"></ion-icon>
      </ion-button>
  </div>
 </ion-footer>
 