<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Editar Evento</ion-title>
    <ion-button slot="start" expand="block" fill="clear" size="small" routerLink="/home">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngIf="evento.downloadURL != null">
      <img src="{{evento.downloadURL}}" />
    </ion-item>
      <app-form-dados [formCadastro]="formCadastro"></app-form-dados>
  </ion-list>
</ion-content>
