<ion-header>
  <ion-toolbar>
    <ion-title>
      Eventos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list *ngFor="let evento of lista_eventos;">
    <ion-item (click)='editar(evento)'>
      <ion-label>{{evento.nome}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color = "secondary" (click)="irParaCadastrar()">
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>


