<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cadastrar</ion-title>
    <ion-button slot="start" expand="block" fill="clear" size="small" routerLink="/home">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-content>
    <ion-list class="list">
      <form [formGroup]="formCadastro" (ngSubmit)="submitForm()" class="form">
        <ion-item>
          <ion-input label="Nome" placeholder="Insira o nome" formControlName="nome"></ion-input>
        </ion-item>
        <span *ngIf="formCadastro.get('nome')?.touched && formCadastro.get('nome')?.errors?.['required']">Nome é Obrigatório!</span>
        <ion-item>
          <ion-input label="Descricao" placeholder="Insira a descricao" formControlName="descricao"></ion-input>
        </ion-item>
        <span *ngIf="formCadastro.get('descricao')?.touched && formCadastro.get('descricao')?.errors?.['required']">Descrição é Obrigatória!</span>
        <ion-item>
          <ion-input label="Dia" placeholder="Insira o dia" formControlName="dia" type="number" min="1" max="31"></ion-input>
         </ion-item>
         <span *ngIf="formCadastro.get('dia')?.touched && formCadastro.get('dia')?.errors?.['required']">Dia é obrigatório!</span>
         <span *ngIf="formCadastro.get('dia')?.touched && formCadastro.get('dia')?.errors?.['min']">Dia deve ser maior ou igual a 1!</span>
         <span *ngIf="formCadastro.get('dia')?.touched && formCadastro.get('dia')?.errors?.['max']">Dia deve ser menor ou igual a 31!</span>
         <ion-item>
          <ion-input label="Mes" placeholder="Insira o mes" formControlName="mes" type="number" min="1" max="12"></ion-input>
         </ion-item>
         <span *ngIf="formCadastro.get('mes')?.touched && formCadastro.get('mes')?.errors?.['required']">Mês é obrigatório!</span>
         <span *ngIf="formCadastro.get('mes')?.touched && formCadastro.get('mes')?.errors?.['min']">Mês deve ser maior ou igual a 1!</span>
         <span *ngIf="formCadastro.get('mes')?.touched && formCadastro.get('mes')?.errors?.['max']">Mês deve ser menor ou igual a 12!</span>
         <ion-item>
          <ion-input label="Ano" placeholder="Insira o ano" formControlName="ano" type="number" min="1900" max="2099"></ion-input>
         </ion-item>
         <span *ngIf="formCadastro.get('ano')?.touched && formCadastro.get('ano')?.errors?.['required']">Ano é obrigatório!</span>
         <span *ngIf="formCadastro.get('ano')?.touched && formCadastro.get('ano')?.errors?.['min']">Ano deve ser maior ou igual a 1900!</span>
         <span *ngIf="formCadastro.get('ano')?.touched && formCadastro.get('ano')?.errors?.['max']">Ano deve ser menor ou igual a 2099!</span>
        <ion-item>
          <ion-select label="Horario" formControlName="horario">
            <ion-select-option value="manha">Manha: 7h-12h</ion-select-option>
            <ion-select-option value="tarde">Tarde 13h-18h30</ion-select-option>
            <ion-select-option value="noite">Noite 18h30-22h30</ion-select-option>
            <ion-select-option value="madrugada">Madrugada 23h-5h</ion-select-option>
          </ion-select>
        </ion-item>
        <span *ngIf="formCadastro.get('horario')?.touched && formCadastro.get('horario')?.errors?.['required']">Horário é Obrigatório!</span>
        <ion-item>
          <ion-button size="default" color="success" shape="round">
            <input type="file" (change)="uploadFile($event.target)" />
          </ion-button>
        </ion-item>
        <ion-button expand="block" (click)="cadastrar()">Enviar</ion-button>
      </form>
    </ion-list>
  </ion-content>
</ion-content>
