<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Atualizar</ion-title>
    <ion-button slot="start" expand="block" fill="clear" size="small" routerLink="/home">  
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list>
    <ion-item>
      <ion-toggle (ionChange)="habilitarEdicao()">Habilitar Edição</ion-toggle>
    </ion-item>
    <ion-item>
      <ion-input label="Nome" placeholder="Insira o nome" [(ngModel)]="nome" disabled="{{edicao}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Descrição" placeholder="Insira a Descrição" [(ngModel)]="descricao" disabled="{{edicao}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Dia" placeholder="Insira o dia" [(ngModel)]="dia" type="number" disabled="{{edicao}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Mes" placeholder="Insira o dia" [(ngModel)]="mes" type="number" disabled="{{edicao}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Ano" placeholder="Insira o dia" [(ngModel)]="ano" type="number" disabled="{{edicao}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-select label="Horario" placeholder="Selecione" [(ngModel)]="horario" disabled="{{edicao}}">
        <ion-select-option value= 0 >Manha 7h-12h</ion-select-option>
        <ion-select-option value= 1 >Tarde 13h-18h30</ion-select-option>
        <ion-select-option value= 2 >Noite 18h30-22h30</ion-select-option>
        <ion-select-option value= 3 >Madrugada 23h-5h</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button expand="block" (click)="editar()" color="secondary" disabled="{{edicao}}">Salvar</ion-button>
    <ion-button expand="block" (click)="excluir()" color="danger" disabled="{{edicao}}">Excluir</ion-button>
  </ion-list>
</ion-content>
